################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

xunit.linq
xunit.runner.json
/TypedEnums & TypedFlags/FeatureFlag.linq.bak
