USE [Survey]
GO
/****** Object:  UserDefinedFunction [dbo].[Csv2Int]    Script Date: 4/8/2022 4:11:03 PM ******/
SET NOCOUNT ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[Csv2Int](
  @Array      VARCHAR(MAX) = NULL
 ,@Separator  CHAR(1)      = ','
)
RETURNS @Table TABLE (
    [Value] INT NOT NULL
)
AS
BEGIN
  DECLARE @SeparatorPosition  INT;
  DECLARE @SeparatorPrefix    VARCHAR(MAX) = '%' + @Separator + '%';
  DECLARE @ArrayValue         VARCHAR(MAX);
  
  SET @Array = @Array + @Separator;

  WHILE PATINDEX(@SeparatorPrefix, @Array) <> 0
    BEGIN
      SELECT @SeparatorPosition = PATINDEX(@SeparatorPrefix, @Array);
      SELECT @ArrayValue        = LEFT(@Array, @SeparatorPosition - 1);
      
      INSERT @Table
      VALUES(
        CAST(@ArrayValue AS INT)
      );
      
      SELECT @Array = STUFF(@Array, 1, @SeparatorPosition + LEN(@Separator) - 1, NULL);
  END;
  RETURN;
END;
