USE [Survey]
GO
/****** Object:  UserDefinedFunction [dbo].[Csv2VarChar]    Script Date: 4/9/2022 11:45:16 AM ******/
SET NOCOUNT ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[Csv2VarChar](
  @Array      VARCHAR(MAX) = NULL
 ,@Separator  VARCHAR(9)   = ','
 ,@Trim       BIT          = 1
)
RETURNS @Table TABLE (
    [Value] VARCHAR(MAX) NOT NULL
)
AS
BEGIN
  DECLARE @SeparatorPosition  INT;
  DECLARE @SeparatorPrefix    VARCHAR(MAX) = '%' + @Separator + '%';
  DECLARE @ArrayValue         VARCHAR(MAX);
  
  SET @Array = @Array + @Separator;

  WHILE PATINDEX(@SeparatorPrefix, @Array) <> 0
    BEGIN
      SELECT @SeparatorPosition = PATINDEX(@SeparatorPrefix, @Array);
      SELECT @ArrayValue        = LEFT(@Array, @SeparatorPosition - 1);
      
      --NOTE: The DEFAULT value is to TRIM spaces around the @Separator; only 
      --      supplying the value 0 (zero) will NOT TRIM.
      IF(@Trim <> 0)
        SET @ArrayValue = LTRIM(RTRIM(@ArrayValue))

      INSERT @Table
      VALUES(
        CAST(@ArrayValue AS VARCHAR(MAX))
      );
      
      --SELECT @Array = STUFF(@Array, 1, @SeparatorPosition + LEN(@Separator) - 1, '');
      SELECT @Array = STUFF(@Array, 1, @SeparatorPosition + LEN(@Separator) - 1, NULL);
  END;
  RETURN;
END;
