USE [Survey]
GO
/****** Object:  UserDefinedFunction [dbo].[CSV_2_INT]    Script Date: 4/9/2022 11:54:29 AM ******/
SET NOCOUNT ON 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [dbo].[CSV_2_INT](
  @Array      VARCHAR(MAX) = NULL
 ,@Separator  VARCHAR(9)   = ','
)
RETURNS @INT_Table TABLE (
    [INT] INT NOT NULL
)
AS
BEGIN
  DECLARE @SeparatorPosition  INT;
  DECLARE @SeparatorPrefix    VARCHAR(MAX) = '%' + @Separator + '%';
  DECLARE @ArrayValue         VARCHAR(MAX);
  
  SET @Array = @Array + @Separator;

  WHILE PATINDEX(@SeparatorPrefix, @Array) <> 0
    BEGIN
      SELECT @SeparatorPosition = PATINDEX(@SeparatorPrefix, @Array);
      SELECT @ArrayValue        = LEFT(@Array, @SeparatorPosition - 1);
      
      INSERT @INT_Table
      VALUES(
        CAST(@ArrayValue AS INT)
      );
      
      SELECT @Array = STUFF(@Array, 1, @SeparatorPosition + LEN(@Separator) - 1, NULL);
  END;
  RETURN;
END;
